/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.card {
    border: 1px solid white;
}

.card-image {}

.card-image>img {}

.card-body {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14;
    text-align: center;
}

.card-name,
.card-position {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: ;
}

.card-position {
    font-weight: lighter;
}

.on-dribble {
    font-weight: lighter;
}

.arrow-right {}

.dribble-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-title {
    margin-top: 35px;
    color: black;
    margin-bottom: 25px;
}

.card-description {
    font-weight: lighter;
    color: black;
}

.svg {
    margin-top: 36px;
}

.card-icon {
    height: 35px;
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

.card-icon:hover {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    color: black;
    background-color: #00e0d0;
}

.card-img>img {
    height: 230px;
}